/*importando font*/
@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
/*Primeiros passos do CSS*/

*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: aqua;
}
p {
    text-align: center;
    margin: 20px auto;
    font-family: "Wallpoet", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
h2 {
    color: brown;
}
/*Configurações do Menu*/
#bodyindex {
    background-color: rgb(126, 201, 245);
    text-align: left;
    border-width: 10px;
    margin: 20 auto;
    border: red solid 1px;
}
.menu {
    list-style: none;
    border: 2px solid black;
    float: left;
}
.menu li {
    position: relative;
    float: left;
    border-right: 2px solid green;
}
.menu li a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}
.menu li a:hover {
    background: green;
    color: darkred;
    box-shadow: 3px 10px 0px blue;
    text-shadow: 0px 0px 5px whitesmoke;
}
.menu li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: rgb(154, 154, 255);
    display: none;
}
.menu li:hover ul {
    display: block;
}
.menu li ul li {
    border: 1px solid pink;
    display: block;
    width: 100px;

}
#primeiroTexto{
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
      
}