/*Primeiros Passos CSS*/
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Condensed+One&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    padding-bottom: 100px; /* Espaço para o rodapé */
}
.formularioBody{
    background-color:#DDB6C6;
    color: black;
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    padding-top: 0.5%;
   
}
h2{
    text-align: left;
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    padding-left: 1%;
}
.h3Formulario{
    text-align: left;
    font-family: arial;
    font-size: 1rem;
    padding-left: 1%;
}
h4{
    text-align: left;
    font-family: arial;
    font-size: 1.6rem;
    padding-left: 1%;
}
.textoRodape{
    text-align: left;
    font-family: arial;
    font-size: 1.3rem;
    padding-left: 1%;
}
p{
    text-align: left;
    font-family: arial;
    font-size: 1.6rem;
    padding-left: 1%;
}
li{
    text-align: left;
    font-family: arial;
    font-size: 1.6rem;
    padding-left: 0;
}
ul {
    list-style-position: inside;
    padding-left: 1rem;
}
.containerIndex{
    margin: 40px auto;
    padding: 30px;
    background-color: rgba(245, 255, 250);
    width: 90%;
    max-width: 1200px;
    box-shadow: 2px 2px 8px;
    border-radius: 8px;

}
a{
    text-align: left;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
    padding-left: 1%;
    color: green;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
    color: darkgreen;
}
input[type="submit"],
input[type="reset"] {
    background-color: green;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer; /*cursor de mão*/
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin-left: 1rem;
    
}
input[type="reset"]{
    background-color: crimson;
}
input[type="submit"]{
    background-color: green;
}
.headerFormulario{
    background-color: #A3B18A;
    padding: 0.5rem;
    margin: 0 auto;
    width: 100%;
    box-shadow: 3px 3px 1px;
    position: relative;
   display: block;
}
.radioEstado{
    padding-left: 0.6%;
}
.optionPais{
    padding-left: 1%;
}
#bodyIndex {
    background-color: rgb(70,130,180);
    text-align: left;
    margin: 20px auto;
    padding: 20px;
}
.menu {
    list-style: none;
    display: flex; /*Deixar o menu em horizontal*/
    gap: 20px; /*Espaçamento entre os itens do menu*/
    padding: 0px;
    margin: 0px;
    background-color: rgba(245,255,250);
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 5px;
}
.menu li a {
    list-style: none;
    color: black;
    font-weight: bold;
    padding: 10px 15px;
    display: inline-block;
}
.menu li a:hover {
    border-radius: 4px;
}
.linkVaga{
    transition: background-color 0.3s ;
    border-radius: 6px;
}
.linkVaga:hover{
    background-color:  rgb(95,158,160);
}
.linkForm{
    transition: background-color 0.3s;
    border-radius: 6px;
}
.linkForm:hover{
    background-color:   #A3B18A;
}
.linkDuvidas{
    transition: background-color 0.3s;
    border-radius: 6px;
}
.linkDuvidas:hover{
    background-color: rgb(72,61,139);
    color: white;

}
.linkAgradecimentos{
    transition: background-color 0.3s;
    border-radius: 6px;
}
.linkAgradecimentos:hover{
    background-color: rgb(218,112,214);
}
.rodape {
    position: relative;
    width: 100%;
    background-color: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    z-index: 100;
    box-sizing: border-box;
    border-radius: 8px;
}

.info-rodape {
    max-width: 30%;
}

.icones-rodape {
    display: flex; /* Coloca os ícones lado a lado */
    gap: 20px; /* Espaçamento entre os ícones */
    align-items: center;
}

.icones-rodape a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
    filter: brightness(0) invert(1); /* deixa o ícone branco */
}

.icones-rodape a img:hover {
    transform: scale(1.2); /* Efeito de zoom ao passar o mouse */
}
.containerVaga{
    margin: 25px auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgb(95,158,160);
    width: 90%;
    box-shadow: 2px 2px 8px;
    border-radius: 8px;

}
.h1Vaga{
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.5rem;
}
.h2Vaga{
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8rem;
}
.bodyVaga{
    background-color: rgb(112,128,144);
}
.imagensVaga{
    background-color: rgb(95,158,160);
    display: flex;
    flex-wrap: wrap; /* ELE SERVE PARA SE AS IMAGENS NÃO COUBERAM NA MESMA LINHA ELA QUEBRA E VAI PARA A LINHA DE BAIXO*/
    justify-content: center;
    gap: 15px;
    max-width: 90%;
    margin: 0 auto;
    padding: 15px 20px;
    box-shadow: 2px 2px 8px;
    border-radius: 8px;
}
.imagensVaga img{
    width: 48%; /*tamanho da imagem esta bem menor porque precisa caber as duas no container*/
    height: auto;
    border-radius:3px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}
/* Fiz um media query que é uma forma de dizer para o pc que “Aplique este estilo somente quando a tela tiver um certo tamanho”.*/
    @media (max-width: 600px) { /*aqui eu estou falando quando uma tela tiver 600px (CELULAR)*/ 
    .imagensVaga img { /*a imagem */
    max-width: 100%; /* vai ocupar 100px da tela. assim vai ter um responsividade top*/
    }
}
.bodyDuvidas{
    background-color: rgb(72,61,139);   
}
.containerDuvidas{
    margin: 25px auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgb(255, 255, 255);
    width: 90%;
    box-shadow: 2px 2px 8px;
    border-radius: 8px;
}
.pDuvidas{
    text-align: left;
    font-family: arial;
    font-size: 1.6rem;
    padding-left: 1%;
  
}
li{
    text-align: left;
    font-family: arial;
    font-size: 1.6rem;
    font-weight: bold;
}
ul {
    list-style-position: inside;
    padding-left: 1rem;
}
.imagensDuvidas{
    background-color: rgb(95,158,160);
    flex-wrap: wrap;
    display: flex;
    gap: 15px;
    text-align: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    padding: 15px 20px;
    box-shadow: 2px 2px 8px;
    border-radius: 8px;
}
.imagensDuvidas img{
    width: 48%; 
    height: auto;
    border-radius:3px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}
@media(max-width: 600px){
    .imagensDuvidas2 img{
        max-width: 100%;
    }
}
.bodyAgradecimentos{
    background-color: rgb(218,112,214);   
}
.containerAgradecimentos{
    margin: 25px auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgb(255, 255, 255);
    width: 90%;
    box-shadow: 2px 2px 8px;
    border-radius: 8px;
}
.imagensDuvidas{
    background-color: rgb(95,158,160);
    flex-wrap: wrap;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 2px 2px 8px;
    border-radius: 8px;
}
.imagensAgradecimentos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    width: 90%; 
    margin: 0 auto;
    height: auto;
    border-radius:3px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    background-color: rgb(255, 255, 255);
   
}
.imagensAgradecimentos img {
    width: 48%; 
    height: auto;
    border-radius: 3px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  }
@media(max-width: 600px){
    .imagensAgradecimentos img {
    width: 100%;
    }
}
.politicaPrivacidade{
    text-align: left;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.3rem;
    padding-left: 1%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}
.politicaPrivacidade:hover{
    color: rgb(255, 255, 255);
}
.bodyPrivacidade{
    background-color: rgb(32,178,170); 
}
.conteinerPrivacidade{
    margin: 25px auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgb(255, 255, 255);
    width: 90%;
    box-shadow: 2px 2px 8px;
    border-radius: 8px;  
}
.bodyTermosUso{
    background-color: rgb(60,179,113);
}
.termos{
    margin: 25px auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgb(255, 255, 255);
    width: 90%;
    box-shadow: 2px 2px 8px;
    border-radius: 8px;  
}