/* Add your CSS styles here */
h1{
    font-family: 'arial';
    text-align: center;
    
}
h2{
    font-family: 'arial';
    text-align: center;}
    h3{
    font-family: 'arial';
    text-align: center;

}
    
p{
    padding: 25px;
    text-align: justify;
    font-family: arial;
    font-size: 1.6rem;

}
ol{
    padding: 25px;
    text-align: justify;
    font-family: arial;
    font-size: 1.6rem;
}
ul{
    padding: 25px;
    text-align: justify;
    font-family: arial;
    font-size: 1.6rem;
}
html{
    font-size: 62.5%;
}

